
.container{
    display: flex;
    width:80%;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
}    
.image{
    width:250px;
    height:250px;
    border: 1px solid rgb(170, 169, 169);
    border-radius: 50%;
    background-color: rgb(247, 245, 245);
}    
.imageName{
    position: relative;
    left:60px;
    top:110px;
    color:rgb(158, 155, 155)
}    
.editToggle{
    width:45px;
    height:20px;
    border:1px solid rgb(128, 126, 126);
    border-radius: 7rem;
    text-align: right;
    cursor: pointer;
}  
.bgEditTrue{
    background-color: green;
}  
.bgEditFalse{
    background-color: red;
}
.toggleRoundLeft{
    width:40%;
    height:100%;
    background-color: white;
    border-radius: 50%;    
}
.toggleRoundRight{
    width:40%;
    height:100%;
    background-color: white;
    border-radius: 50%;
    margin-left: 60%;
}    
.imageFile{
    position: relative;
    top:-250px;
    opacity: 0;
}    
.info{
    display: flex;
    flex-direction: column;
    width:50%;
    position: relative;
    top:20px;
}    
.leftContainer{
    width:35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}    
.edit{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top:-200px;
}    
.edit-text{
    width:100px;
}    
.imageContainer{
    margin-top: 50px;
}    
.logoutContainer{
    width: 100%;
    text-align: center;
    position: relative;
    top:-150px;
}
#form>label{
    margin-top:8px;
}
#form>div>label{
    margin-top: 10px;
}
#form>input{
    margin-top: 5px;
}
#form>div>input{
    margin-top: 5px;
}
.taskelement{
    border:1px solid rgb(148, 146, 146);
    border-radius: 7px;
    background-color: rgb(211, 208, 208);
}
.tasks{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}
.jobrolesshow{
    width:100%;
    max-height: 100px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: relative;
}
/* media screen  */

@media screen and (max-width:450px){
    .container{
        flex-direction: column;
    }
    .leftContainer{
        width: 100%;
    }
    .info{
        width:100%;
        margin-top:80px;
    }
    
    .nav-edit-logout{
        display: flex;
        flex-direction: row;
        width:100%;
       justify-content: space-between;
       margin-top: -350px;
        /* width:100%; */
    }
    .logoutContainer{
        top:-200px;
    }
    .imageContainer{
        position: relative;
        top:30px;
    }
}   